extends admin-layout
include admin-search.jade
block mainContent
  #admin
    .row
      .nodesContainer.six.columns
        h2 Nodos
          |(
          span=Object.keys(info.nodes).length
          |) 
        p
          a.button(href="/node-new") + Agregar nodo

        table.u-full-width.nodes.list.node-table
          thead
            tr
              th 
                +searchForm('node')
              th Tipo
              th Fuentes 
              th Eliminar                                
          tbody    
            - each node in info.nodes
              tr(data-search=node.name)
                td
                  a(href= "/node-edit/"+node.id)= node.name
                td 
                  - if (node.type === 'fact')
                    span.label.fact hecho
                  - else
                    span.label.entity persona
                td
                  span.label(class=(info.sources.nodes[node.id].length === 0) ? 'warning' : '')= info.sources.nodes[node.id].length
                td
                  a.js-delete(href= "/node-delete/"+node.id) Borrar

      .edgesContainer.six.columns
        h2 Relaciones
          |(
          span=Object.keys(info.edges).length
          |) 
        p
          a.button(href="/edge-new") + Agregar relación

        table.u-full-width.edges.list.edge-table
          thead
            tr
              th
                +searchForm('edge')              
              th Fuentes
              th Eliminar
          tbody    
            - each edge in info.edges
              tr(data-search=[info.nodes[edge.node_from].name, edge.name, info.nodes[edge.node_to].name].join(" "))
                td
                  a(href= "/edge-edit/"+edge.id)
                    | 
                    span.node_from= info.nodes[edge.node_from].name
                    span ⇾     
                    strong= edge.name     
                    span ⇾
                    span.node_to= info.nodes[edge.node_to].name    
                td
                  span.label(class=(info.sources.edges[edge.id].length === 0) ? 'warning' : '')= info.sources.edges[edge.id].length                                   
                td
                  a.js-delete(href= "/edge-delete/"+edge.id) Borrar
