#share
  .like-box(class="fb-like", 
            data-href="http://amia.elloropolitico.com/", 
            data-width="200", 
            data-height="30", 
            data-colorscheme="dark", 
            data-show-faces="true", 
            data-header="true", 
            data-layaout="button_count", 
            data-stream="false", 
            data-show-border="true")
  .twitter
    a(href="https://twitter.com/share", class="twitter-share-button", data-dnt="true") Tweet
