#share
  .twitter
    a(href="https://twitter.com/share", data-url="http://amia.elloropolitico.com/", class="twitter-share-button", data-dnt="true") Tweet

  .like-box(class="fb-like", 
            data-href="http://amia.elloropolitico.com/", 
            data-width="200", 
            data-height="10", 
            data-colorscheme="dark", 
            data-show-faces="false", 
            data-layaout="button_count", 
            data-share="true", 
            data-show-border="false")
  
